html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.App {
  display: block;
  width: 100vw;
  min-height: 100vh;
}
/* ------------ */
.nav_div {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  font-weight: 600;
  box-shadow: 2px 2px 10px rgb(0,0,0,0.3);
}


#logo_div {
  width: 20%;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

#logo_div img{
  width: 100%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.8s ease;
}

#logo_div img:hover {
  transform: scale(1.1);
}


#navBut_div {
  padding: 10%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.navBut {
  color: black;
  cursor: pointer;
  font-size: clamp(10px, 2vw, 20px);
  padding: 1vw;
  border-radius: 10px;
  transition: transform 0.8s ease;
}

.navBut:hover {
  background-color: #f9db6f;
  transform: scale(1.1);
}

/* --------------------------- */

.homeContainer {
  width: 100vw;
  display: block;
  margin-top: 30vh;
}

.section_div {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section_div_column {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.top_div {
  width: 50vw;
  margin-left: 5vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(10px, 1.5vw, 100px)
}

.top_div h1, .top_div h2 {
  line-height: 0.3;
}

.top_div button {
  margin-top: 10px;
}

/* -------------------------------- */
.btn {
  width: 10vw;
  height: 30px;
  padding: 2vw;
  color: rgb(255, 255, 255);
  background-color: #5ce1e6;
  font-size: clamp(10px, 1.3vw, 80px);
  font-weight: 600;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  transition: transform 0.3s ease;
  border-radius: 20px;
  position: relative;
  z-index: 999;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 10px rgb(0,0,0,0.5);
  background-color: #419da0;
  color: white;
}

.btn:active {
  transform: scale(1.0); 
}

/* -------------------------------- */
.btn2 {
  width: 10vw;
  height: 30px;
  padding: 2vw;
  color: rgb(255, 255, 255);
  background-color: #1f1f1f;
  font-size: clamp(10px, 1.2vw, 80px);
  font-weight: 600;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  transition: transform 0.3s ease;
  border-radius: 20px;
  position: relative;
  z-index: 999;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.5);
  cursor: pointer;
}
.btn2:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 10px rgb(0,0,0,0.5);
  background-color: #4e4e4e;
  color: white;
}

.btn2:active {
  transform: scale(1.0); 
}
/* -------------------------------- */

.card_div {
  height: auto;
  background-color: white;
  font-weight: 900;
  border-radius: 20px;
  padding: 2vw;
  box-shadow: 4px 2px 10px rgb(0,0,0,0.5);
  transition: transform 0.3s ease;
  align-items: center;

}

.card_div img {
  object-fit: contain;
  height: 40vh;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

.card_div p {
  margin: 0.3rem 0; /* Tighter spacing */
  font-size: clamp(10px, 1.2vw, 80px);
}

.card_div:hover {
  transform: scale(1.1);
  box-shadow: 4px 2px 10px rgb(0,0,0,0.7);
}

/* -------------------------------- */
.carousel-container {
  position: relative;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  /* pointer-events: auto; */
  animation: stayAndFade 10s ease-in-out;
}

@keyframes stayAndFade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* -------------------------------- */

#reviewsSection {
  margin-top: 15vh;
  font-size: clamp(10px, 1.5vw, 80px);
}

#review_div {
  width: inherit;
  padding: 2vw;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 10px rgb(0,0,0,0.5);
  border-radius: 20px;
}

.putRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.putRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rv_div {
  margin: 4vw;
  box-sizing: border-box;
}

#revTitle {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  height: 5vh;
}

#stars5_img {
  width: 10vw;
}

/* -------------------------------- */

#aboutUs_div {
  background-color: #f9db6f;
  font-size: clamp(10px, 1.5vw, 80px);
  white-space: pre-line;
  font-weight: 600;
  padding-bottom: 4vh;
}

#aboutUs_div img {
  width: 20vw;
  height: 15vh;
  object-fit: cover;
  border-radius: 20px;
}

#aboutUs_div button {
  margin-left: 2vw;
  margin-top: -1rem;
}

#map {
  width: 35vw;
  height: 55vh;
  border-radius: 20px;
  border: 0;
}

#findUs {
  padding: 3vw;
}


/* -----------Pets--------------- */

#petsDiv{
  margin-top: 12vh;
}

#pets_about {
  display: flex;
  flex-direction: row;
  font-size: clamp(15px, 1.5vw, 80px);
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: center;
  align-items: center;
}

#pets_about img {
  width: 20vw;
  border-radius: 20px;
}

#grid_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2vw;
}

/* ------------------------------- */

#adoptionForm_div {
    margin-top: 15vh;
    padding: 3vw;
}

#adoptionForm_div h1 {
  margin-top: -5vh;
  margin-left: 5vw;
  font-size: clamp(24px, 3vw, 48px);
}


#adop_form {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #5ce1e642;
  border-radius: 20px;
}

#adop_form input {
  height: 4vh;
  border-radius: 10px;
  border: 1px solid #4e4e4e49;
  padding-left: 0.5rem;
  font-size: clamp(8px, 1.0vw, 20px);
}

#adop_form label {
  font-size: clamp(8px, 1.5vw, 20px);
}

#adoptInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  margin-bottom: 2vh;
  margin-top: 1.5rem;
}

.ai_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.2rem;
}

.ai_row label {
  font-size: clamp(8px, 1.5vw, 20px)
}

.ai_col {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}

#adoptBtn_div {
  width: inherit;
  justify-content: center;
  align-self: center;
}

#assuranceDiv {
  margin-top: 2rem;
}

#tnc_checkbox{
  width: 10vw;
}

/* ------------------------------- */
#releaseInfo input{
  border: 1px solid #4e4e4e49;
  padding: 0.5rem;
  font-size: clamp(10px, 1.4vw, 20px);
}

#petRelease_div {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subRelBtn {
  padding: 1rem;
}

#ta_reason {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#ta_reason textarea {
  padding: 0.5rem;
  font-size: clamp(10px, 1.4vw, 20px);
}

/* ------------------------------- */
#accountDiv {
  margin-top: 15vh;
  margin-left: 25vw;
  margin-right: 25vw;
}

#accountDiv h3, #accountDiv p {
  font-size: clamp(15px, 1.8vw, 30px);
  font-weight: 600;
}

#profileTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* this is the profile card image */
#profile {
  width: 20vw;
}

#profileDeets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  flex: 1
}

.inputDiv_row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.inputDiv label{
  font-size: clamp(15px, 1.8vw, 30px);
  font-weight: 600;
}

.inputDiv_row input {
  height: 4vh;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
  font-size: clamp(10px, 1.4vw, 20px)
}

#petsOwned_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ------------------------------ */
#loginReg_div_col {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f9db6f;
    align-items: center;
}

#loginReg_div {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;

}


#loginReg_form {
  display: flex;
  flex-direction: column;
  flex:1;
  gap: 2vh;
  width: 30vw;
}

#loginReg_div img {
  width: 50vw;
  height: 40vw;
  object-fit: cover;
  flex: 1;
  border-radius: 30px;
}

#loginReg_form input {
  height: 4vh;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
}

#loginReg_form button {
  width: 15vw;
}

.lg_inputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh
}

#loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#logo_loginreg {
  width: 20vw;
  height: 12vw;
  object-fit: cover;
}

/* ------------------------------ */


#admin_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#adminHeader {
  height: 15vh;
  width: 100vw;
  background-color: #a5a5a5;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

#adminHeader img {
  object-fit: cover;
  width: 15vw;
}

.admin_col {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  justify-content: center;
  align-items: center;
}

.admin_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* #details{
  background-color: #4e4e4e52;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  font-size: clamp(10px, 2vw, 20px);
} */

#adoptReq_btn {
  padding: 2rem;
  width: 15vw;
}

#relReq_btn {
  padding: 2rem;
  width: 15vw;
}

#details {
    display: flex;
    flex-direction: column;   /* stack content vertically */
    gap: 10px;                /* spacing between <p> elements */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: white;
    width: 350px;
}

#headerDeets {
  gap: 3rem;
}